// xs
@for $index from 1 through 24 {
  .h-xs-#{$index} {
    width: 100%/24*$index;
    float: left;
  }
}
// sm
@media (min-width:768px) {
   @for $index from 1 through 24{
    .h-sm-#{$index} {
      width: 100%/24*$index;
      float: left;
    }
  }
}
// md
@media (min-width:920px) {
   @for $index from 1 through 24{
    .h-md-#{$index} {
      width: 100%/24*$index;
      float: left;
    }
  }
}
// lg
@media (min-width:1080px) {
   @for $index from 1 through 24{
    .h-lg-#{$index} {
      width: 100%/24*$index;
      float: left;
    }
  }
}
// ulg
@media (min-width:2160px) {
   @for $index from 1 through 24{
    .h-ulg-#{$index} {
      width: 100%/24*$index;
      float: left;
    }
  }
}