// 模态窗
@import "mixins";
@import "variables";
.h-modal{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color:$color-light;
  // border: 0.2rem solid $color-dark;
  box-shadow: .2rem .2rem 0.8rem lighten($color-dark,20);
  @include mixin-border-radius();
  .h-modal-header{
    border-radius: $line-height * 0.35 $line-height * 0.35 0rem 0rem;
    color: $color-light;
    background-color: $color-primary;
    padding-top: 0.5rem;
    padding-left: 0.4rem;
    height: 3.5rem;
    .h-close{
      margin-right:0.5rem;
      float:right;
    }
  }
  .h-modal-body{
    margin-bottom: 3rem;
    padding-top: .4rem;
  }
  .h-modal-footer{
    // float: right;
    width: 100%;
    text-align: right;
    padding-bottom: .4rem;
    button{
      margin-right:0.5rem;
    }
  }
}
