@import "mixins";
@import "variables";
@import "button";

.h-nav{
  line-height: $line-height;
  list-style-type: none;
  // clear: both;
  li{
    a{
      @extend .h-btn;
      @extend .h-btn-link;
    }
  }
}

.h-nav-pills{
  // width: 100%;
  height: $line-height * 1.2;
  li{
    float: left;
    margin-left: -0.3rem;
  }
}

.h-nav-buttons{
  li a{
    text-decoration: none;
    @extend .h-btn;
    @extend .h-btn-default;
    @include mixin-border-radius(0);
  }
}

