$font-base-size: 62.5% !default;
$font-size: 1.6rem !default;
$line-height: 2.8rem !default;

//colors
$color-dark: rgb(40, 42, 39);
$color-light: rgb(233, 240, 234);
$color-primary: rgb(37, 120, 231);
$color-success: rgb(120, 215, 138);
$color-warning: rgb(231, 156, 87);
$color-danger: rgb(217, 65, 70);
$color-default: rgb(203, 203, 203);

