$font-base-size: 62.5% !default;
$font-size: 1.6rem !default;
$line-height: 2.8rem !default;
$default-width: 5rem !default;

//colors
$color-dark: rgb(40, 40, 40);
$color-light: rgb(240, 240, 240);
$color-default: rgb(203, 203, 203);
$color-primary: rgb(40, 120, 230);
$color-success: rgb(120, 215, 140);
$color-warning: rgb(230, 155, 90);
$color-danger: rgb(220, 65, 70);

//arrays
$array-colors: $color-dark $color-light $color-default $color-primary $color-success $color-warning $color-danger;
$array-color-themes: dark light default primary success warning danger;
